.button {
	border: none;
	display: inline-block;
	white-space: nowrap;
	line-height: 2rem;
	font-size: 0.75rem;
	padding: 0 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	text-transform: uppercase;
}

.light_button {
	background-color: mediumslateblue;
	color: white;
}

.dark_button {
	background-color: white;
	color: mediumslateblue;
}